#profilePicture {
    max-width: 80px;
    float: right;
}

#currentPersonProfilePicture {
    max-width: 80%;
}

#mainContainer {
    display: none;
}

#mobileLogout {
    margin: 30px;
}

.collection-item {
    min-height: 100px;
}

.workOutTitle,
.workOutUserName {
    font-size: 1.3em;
}

.calcWhen {
    font-size: 1.1em;
}

#profile-page-header .card-profile-image {
    top: 40px;
}

span.connectUser {
    background: green;
    padding: 5px;
    border: darkgreen;
    color: white;
    cursor: pointer;
}

span.connectUser:hover {
    background: darkgreen;
    box-shadow: 3px 5px 3px #888888;
    cursor: pointer;
}