#createWorkout.container {
    margin-top: 50px;
}

#profilePicture {
    max-width: 80px;
    float: right;
}

#currentPersonProfilePicture {
    max-width: 100%;
}

#mainContainer {
    display: none;
}

#mobileLogout {
    margin: 30px;
}

.workoutIcon {
    height:100px;
    width:100px;
    padding:0px;
}

#fav {
    height:20px;
    width:20px;
}

.marginLeft20 {
    margin-left:20px;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

.collection .collection-item.avatar .title {
    font-size: 1.4em;
}

.collection .collection-item {
    padding-bottom: 20px;
    border-radius: 0px;
}

.aboutMe {
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.4);
    padding: 3px;
    font-weight: bolder;
}

.hidden {
    display:none; 
}

textarea#aboutMe {
    min-height: 8rem;
}

@media only screen and (min-width: 993px) {
.container {
    width: 70%;
}
}

#availableWorkouts .btn,
#buddyRequests .btn,
#connectedUserList .btn {
    float: right;
}

.currentWeatherLocation,
.currentWeather, 
.currentForecast0,
.currentForecast1 {
    font-weight: 900;
}

button.endWorkout,
button.endBuddy,
button.editWorkoutButton {
    font-size: .7em;
    padding: 2px;
    height: 15px;
    line-height: 1em;
    float: right;
}


.circle {
    border-radius: 10%;
}
a {
    color: black;
}
